body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../头条_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:20px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:20px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../头条_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:20px;
    width:320px;
    height:445px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:451px;
}

.u3 {
    position:absolute;
    left:2px;
    top:214px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_container {
    position:absolute;
    left:0px;
    top:75px;
    width:320px;
    height:161px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:161px;
}

.u5 {
    position:absolute;
    left:2px;
    top:72px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:15px;
    top:40px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:70px;
    top:40px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:126px;
    top:40px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:182px;
    top:40px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:238px;
    top:40px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:295px;
    top:36px;
    width:11px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../头条_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:236px;
    width:320px;
    height:80px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:86px;
}

.u19 {
    position:absolute;
    left:2px;
    top:32px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:15px;
    top:246px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:15px;
    top:282px;
    width:221px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../头条_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:238px;
    top:243px;
    width:75px;
    height:67px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:75px;
    height:67px;
}

.u23 {
    position:absolute;
    left:2px;
    top:26px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../头条_files/u18_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:316px;
    width:320px;
    height:80px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:86px;
}

.u25 {
    position:absolute;
    left:2px;
    top:32px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:15px;
    top:326px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:15px;
    top:362px;
    width:221px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../头条_files/u22_normal.png');
}

.u28_container {
    position:absolute;
    left:238px;
    top:323px;
    width:75px;
    height:67px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:75px;
    height:67px;
}

.u29 {
    position:absolute;
    left:2px;
    top:26px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../头条_files/u18_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:396px;
    width:320px;
    height:80px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:86px;
}

.u31 {
    position:absolute;
    left:2px;
    top:32px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:15px;
    top:406px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:15px;
    top:442px;
    width:221px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../头条_files/u22_normal.png');
}

.u34_container {
    position:absolute;
    left:238px;
    top:403px;
    width:75px;
    height:67px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:75px;
    height:67px;
}

.u35 {
    position:absolute;
    left:2px;
    top:26px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

